

.azeret-mono-space {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* baner decoration */

header>nav>ul>li{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.great{
    text-decoration: none;
}
header>nav{
    background-image: url(images/Hero-bg.png);
    width: 1380px;
    height: 600px;
}
.btn{
    width: 170px;
    height: 55px;
    color: white;
    background-color: black;
}
.habib{
    width: 950px;
    height: 30px
    
}

/* main section */
info{
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    margin-left: 300px;

}

.text{
    display: block;
   text-align: center;
}

.asus{
    display: flex;
    text-decoration: none;
    margin: 48px;
    justify-content: center;
}
.hp{
    text-decoration: none;
    color: #0D1321;
    width: 450px;
    height: 200px;

}
.bang{
    height: 200px;
    width: 240px;
}
.jack{
    height: 40px;
    width: 120px;
    background-color: white;
    color: #0d1321;
}

.dog{
    display: flex;
    justify-content: center;
}
.cat{
    height: 220px;
    width: 470px;
    margin-left: 65px;
}
.big{
    width: 220px;
    height: 220px;
    margin-top: 48px;
    margin-left: 30px;
}
.rat{
    width: 120px;
    height: 40px;
    background-color: white;
    margin-top: 5px;
    color: #0d1321

}

.mango{
    display: flex;
    justify-content: center;
}
.banana{
    height: 220px;
    width: 470px;
    margin-bottom: 40px;
    margin-left: 65px;
}
#card{
    height: 220px;
    width: 220px;
}
.apple{
    width: 120px;
    height: 40px;
    background-color: white;
    margin-top: 5px;
    color: #0d1321
}
.lion{
    align-items: center;
    margin-left: 415px;
}
.tiger{
    text-align: center;
    margin-bottom: 50px;

}

.rich{
    text-align: center;
    width: 820px;
    height: 50px;
    margin-left: 240px;
    margin-top: 50px;
}

.shirt{
    margin: 30px 30px;
    height: 200px;
    width: 250px;
    background-color: #FFF6F4;
    padding: 20px 20px;
    border-radius: 4px;
    display: block;
}

.genji{
    margin: 30px 30px;
    height: 200px;
    width: 250px;
    background-color:#F2F6FE ;
    padding: 20px 20px;
    border-radius: 4px;
    display: block;
}

.pajama{
    margin: 30px 30px;
    height: 200px;
    width: 250px;
    background-color:#FFFDF2 ;
    padding: 20px 20px;
    border-radius: 4px;
    display: block;
    
}
.kapor{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 40px;
}

.mum{
    text-align: center; 
    margin-top: 100px;
}

#kolom{
     height: 50px; 
     width: 350px; 
    padding-left: 19px;
    color: #ACAFB3;
    border-radius: 3px;
}

#boi{

    padding: 3px;
    border-radius: 3px;
}


.dad{
    display: flex;
    justify-content: center;
    margin-top: 70px;

}
.iron{
    background-size: cover;
    background-image: url(images/handshake.jpg);
    height: 300px;
    width: 1200px;
    background-position: center;
    margin-left: 100px;
    align-items: center;
}
.ragav{
    display: flex;
    justify-content: end;
    margin-right: 100px;

}

.ami{
    justify-content: space-between;
    display: inline;
}

.ragi{
    margin-left: 100px;
    margin-top: 5px;
}