<style>
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
</style>


/* nav>div{ display: flex; */
    align-items: center;
    margin: left 690px;

}
.banner-section {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("images/Hero-bg.png");
    width: 1390px;
    height: 600px;

}
.banner-content{

    
}
